<ion-header *ngIf="getState() | async as user; else showLogin">
  <ion-navbar color="navBar">
    <ion-buttons end>

      <button ion-button icon-only icon-left (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>
          {{ waitingListsIds.length}}
        </ion-label>
      </button>

      <button ion-button icon-only icon-left (click)="logout()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content center text-center padding>

  <div *ngIf="getState() | async as user; else showLogin">
    <ion-img width="100px" height="100px" src="{{user.photoURL}}" *ngIf="user.photoURL"></ion-img>
    <ion-img width="100px" height="100px" src="./assets/imgs/contact.png" *ngIf="!(user.photoURL)"></ion-img>
    <h1>Hello {{ user.displayName }} !</h1>
    <button ion-button full outline icon-left (click)="accessToMyTodoList()">
      <ion-icon ios="ios-list" md="md-list"></ion-icon>
      Access To My Todo List
    </button>
    <ion-list>
      <ion-list-header>
        Setting
      </ion-list-header>

      <ion-item>
        <ion-label>Mode Hors Ligne</ion-label>
        <ion-toggle value="foo" checked="true"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Get Shared List</ion-label>
        <ion-toggle color="danger" checked="true"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #showLogin>
    <ion-img width="100" height="100" src="assets/imgs/logo.png"></ion-img>
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>

        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" type="email" placeholder="Votre email" [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input formControlName="password" type="password" placeholder="Votre mot de passe" [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
      </ion-item>

      <button ion-button block type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
    <!-- <button ion-button block color="danger" (click)="goToLoginGoogle()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Google
    </button> -->
    <!-- <p>ou</p> -->
    <ion-row >
      <ion-col>
        <div style="width: 100%; height: 10px; border-bottom: 1px solid black; text-align: center">
          <span style="font-size: 17px; background-color: #F3F5F6; padding: 0 15px;">
      OU<!--Padding is optional-->
      </span>
        </div>
      </ion-col >
    </ion-row>
    <button ion-button block color="danger" (click)="goToLoginGoogleNative()">
        <ion-icon name="logo-googleplus"></ion-icon>
        Google
      </button>
    <ion-row>
      <ion-col col-5>
        <button ion-button  clear color="danger" (click)="goToSignup()">
          Créer un compte /
        </button>
      </ion-col>
      <ion-col col->
        <button ion-button block clear color="danger" (click)="goToResetPassword()">
          Mot de passe oublié?
        </button>
      </ion-col>
    </ion-row>


  </ng-template>

</ion-content>
