<ion-header color="primary">
  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle icon-only float-right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center="true">
      My Todolists
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addList('speachRecognition') ">
        <ion-icon name="mic"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addList('qrCode')">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-fab bottom right>
    <button ion-fab (click)="addList('simpleAdd')" color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let list of todoLists" #item>
      <ion-item *ngIf="list" (click)="selectList(list)">
        <h1>{{list.name}}</h1>
      </ion-item>
      <ion-item-options *ngIf="list" side="left">
        <button ion-button (click)="generateQrCode(list)">QrCode</button>
        <button ion-button color="danger" (click)="remove(list)">REMOVE</button>
      </ion-item-options>
      <ion-item-options *ngIf="list" side="right">
        <button ion-button (click)="share(list)">SHARE</button>
        <button ion-button (click)="edit(list)">EDIT</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
